#忽略无关目录
deep-learning-for-image-processing/
yzzw_learning/
#忽略配置文件
.cache
.config
.cursor-server
.local
.nv
.ssh
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile
.lesshst
#忽略_pycache_
__pycache__/
#忽略数据集，权重保存文件
data/
checkpoints/
#忽略无关文件
experiment.md
